* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #03A696;
    font-family: 'Montserrat', sans-serif;
}

button {
    border-radius: 20px; /* Ajout : Bords arrondis */
    padding: 0.5em 4rem; /* Ajout : Espace interne du rectangle */
    background-color: #D9D9D9;
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 1em;
    border: none;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 20%;
    background-color: #04BF9D;
    display: flex; /* Ajout : Centre les éléments horizontalement */
    flex-direction: column; /* Ajout : Aligne les éléments verticalement */
    justify-content: start; /* Ajout : Colle les éléments en haut */
    align-items: center;
    padding-top: 20px;
    gap: 30px
}

.sidebar>img {
    width: 50%;
    height: auto; /* Modification : Utilise "auto" pour maintenir le ratio d'aspect de l'image */
    clip-path: circle();
}

.sidebar .logo img {
    width: 100%;
}

.sidebar button {
    width: 75%;
    padding: 0.5em 0; /* Ajout : Espace interne du rectangle */
    text-align: center;
}

.sidebar ul {
    border-radius: 20px;
    width: 75%;
    border: none;
    overflow: scroll;
    max-height: calc(2em + 1px + 5 * calc(2.5em + 1px));
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    border: solid 1px #D9D9D9;
}

.sidebar ul::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

.sidebar ul li {
    font-size: 1em;
    text-align: center;
    border: solid 1px #D9D9D9;
    white-space: nowrap;
}

.sidebar ul li:not(:first-child) {
    background-color: #253659;
    color: white;
    font-weight: normal;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    padding: 0;
    padding-right: 5%;
    border-width: 1px 0 0 0;
    z-index: 0;
}

.sidebar ul li:first-child {
    text-align: center;
    border-width: 1px;
    background-color: #D9D9D9;
    color: black;
    font-weight: bold;
    position: sticky;
    padding: 0.5em 0;
    top: 0;
    z-index: 1;
}

.sidebar ul li img {
    height: 2.5em;
    width: auto;
    border-right: solid 1px #D9D9D9;
}

.sidebar ul li:not(:first-child) p {
    padding: 0;
    margin: 0;
}

.sidebar ul li p {
    overflow: hidden;
}

.attente_info {
    font-size: 0.8em;
    color: #a9afbc;
    text-align: left;
}


.main-container {
    margin-left: 20%;
    margin-bottom: 10%;
}

nav {
    background-color: #253659;
    margin-left: 20%;
}

.navbar-nav button {
    margin: 10px;
    background-color: white;
}

.navbar-nav button:hover {
    background-color: #F27457;
    color: white;
}

.form-control {
    border-radius: 20px;
    margin-right: 0;
}

#search-button {
    border-radius: 0 20px 20px 0 !important;
}

.helper-btn {
    border-color: #F27457;
    color: #F27457;
    background-color: white;
}

.helper-btn:hover,
.helper-btn:focus {
    background-color: #F27457;
    color: #fff;
    border-color: #F27457;
}

.input-group {
    margin: 10px;
    border-radius: 20px;
}

.dropdown-toggle {
    color: #F27457;
}

.btn-link:hover,
.btn-link:focus {
    color: #04BF9D;
}

#disconnect {
    background-color: #F27457;
    color: white;
    padding: 0.5em 2em;
    margin-left: 10px;
    border-radius: 20px; /* Ajout : Bords arrondis */
}

/* Footer */
footer {
    /* Votre style existant */
    box-sizing: border-box;
    font-family: "circular std book", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #253659;
    font-size: 14px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.music-player {
    /* Votre style existant */
    --primary-color: #EBEEF0;
    --secondary-color: #D9D9D9;
    --green-color: #43AD74;
    --padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 6rem;
    padding: var(--padding);
    color: var(--primary-color);
}

.music-player .song-bar {
    /* Votre style existant */
    position: absolute;
    left: var(--padding);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1.5rem;
    width: 20%;
}

.music-player .song-infos {
    /* Votre style existant */
    display: flex;
    align-items: center;
    gap: 1em;
}

.music-player .like-button {
    color: crimson;
}

.music-player .icons button{
    background-color: #253659;
    border: none;
}

.music-player .image-container {
    /* Votre style existant */
    flex-shrink: 0;
}

.music-player .image-container img {
    /* Votre style existant */
    width: 4.5em;
    height: 4.5em;
    object-fit: cover;
}

.music-player .song-description p {
    /* Votre style existant */
    margin: 0.2em;
}

.music-player .title:hover,
.music-layer .artist:hover {
    /* Votre style existant */
    text-decoration: underline;
}

.music-player .artist {
    /* Votre style existant */
    color: var(--secondary-color);
}

.music-player .icons {
    /* Votre style existant */
    background: none;
    border: none;
    cursor: pointer;
}

.music-player .progress-controller {
    /* Votre style existant */
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
    color: var(--secondary-color);
}

.music-player .control-buttons {
    /* Votre style existant */
    display: flex;
    align-items: center;
    gap: 2em;
}

.music-player .control-buttons button {
    background: none;
    border: none;
    cursor: pointer;
}

.music-player .play-pause-button {
    display: inline-block;
    padding: 1em;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 50%;
}

.music-player .backward-button{
    color: #a9afbc;
}

.music-player .forward-button{
    color: #a9afbc;
}

.music-player .play-pause-button:hover {
    /* Votre style existant */
    transform: scale(1.1);
    color: var(--green-color);
}

.music-player .progress-container {
    /* Votre style existant */
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}


.music-player .progress-bar {
    /* Votre style existant */
    height: 4px; /* Réduction de la hauteur de la barre de progression */
    border-radius: 10px;
    width: 70%; /* Réduction de la largeur de la barre de progression */
    background-color: #ccc4;
}

.music-player .progress-bar .progress {
    /* Votre style existant */
    height: 100%;
    background-color: var(--green-color);
    position: relative;
}

.music-player .progress-bar .progress::after {
    /* Ajout d'un élément pseudo-élément pour afficher le point de progression */
    content: "";
    position: absolute;
    --size: 8px; /* Taille du point de progression */
    width: var(--size);
    height: var(--size);
    right: 0;
    top: 50%;
    transform: translate(50%, -50%);
    border-radius: 50%;
    background-color: var(--primary-color);
}

.music-player .progress-bar:hover .progress {
    /* Votre style existant */
    background-color: var(--green-color);
}

.music-player .progress-bar:hover .progress::after {
    /* Votre style existant */
    --size: 10px; /* Taille agrandie du point de progression au survol */
}

.music-player .other-features {
    /* Votre style existant */
    position: absolute;
    right: var(--padding);
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.music-player .volume-bar {
    /* Votre style existant */
    display: flex;
    align-items: center;
    gap: .7em;
}

.music-player .volume-bar .progress-bar {
    /* Votre style existant */
    width: 6em;
}

.music-player .volume-bar .progress-bar:hover .progress::after {
    /* Votre style existant */
    --size: .8em;
}