* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #03A696;
    font-family: 'Montserrat', sans-serif;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 20%;
    background-color: #04BF9D;
    display: flex; /* Ajout : Centre les éléments horizontalement */
    flex-direction: column; /* Ajout : Aligne les éléments verticalement */
    justify-content: start; /* Ajout : Colle les éléments en haut */
    align-items: center;
    padding-top: 20px;
    gap: 30px
}

.sidebar img {
    width: 50%;
    height: auto; /* Modification : Utilise "auto" pour maintenir le ratio d'aspect de l'image */
}

.sidebar .logo img {
    width: 100%;
}

.sidebar button {
    background-color: #D9D9D9;
    border-radius: 20px; /* Ajout : Bords arrondis */
    padding: 0.5em 1em; /* Ajout : Espace interne du rectangle */
    width: 75%;
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 1em;
    border: none;
}

.sidebar ul {
    border-radius: 20px; /* Ajout : Bords arrondis */
    width: 75%;
    border: none;
}

.sidebar ul li:not(:first-child) {
    background-color: #253659;
    color: white;
    font-weight: normal;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    padding-right: 10%;
    overflow: hidden;
}

.sidebar ul li {
    background-color: #D9D9D9;
    border-color: #D9D9D9;
    color: black;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
}

.sidebar ul li img {
    height: 2.5em;
    width: auto;
    border-right: solid 1px #D9D9D9;
}

.sidebar ul li:not(:first-child) p {
    padding: 0;
    margin: 0;
}

.attente_info {
    font-size: 0.8em;
    color: #a9afbc;
    text-align: left;
}


.main-container {
    margin-left: 20%;
    margin-bottom: 10%;
}


.topbar {
    background-color: #D9D9D9;
    padding: 10px;
}

.navbar-nav .nav-link {
    color: #000;
    font-weight: bold;
    text-decoration: none;
    padding: 0.5rem 1rem;
    margin: 10px;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
    color: #F27457;
}


.form-control {
    border-radius: 20px;
}

.btn-outline-success {
    border-color: #F27457;
    color: #F27457;
}

.btn-outline-success:hover,
.btn-outline-success:focus {
    background-color: #F27457;
    color: #fff;
    border-color: #F27457;
}

.btn-link {
    color: #000;
    text-decoration: none;
    background: none;
    border: none;
    padding: 0;
    margin-left: 52px;
}

.btn-link:hover,
.btn-link:focus {
    color: #04BF9D;
}
