* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #03A696;
    font-family: 'Montserrat', sans-serif;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 20%;
    background-color: #04BF9D;
    padding: 0.5%;
    display: flex; /* Ajout : Centre les éléments horizontalement */
    flex-direction: column; /* Ajout : Aligne les éléments verticalement */
    justify-content: center; /* Ajout : Centre les éléments verticalement */
}

.sidebar .logo img {
    width: 100%;
    height: auto; /* Modification : Utilise "auto" pour maintenir le ratio d'aspect de l'image */
    align-self: center; /* Ajout : Centre l'image horizontalement */
}

.sidebar .navigation ul {
    list-style: none;
    margin-top: 25%;
}

.sidebar .navigation img {
    width: 50%;
    height: auto; /* Modification : Utilise "auto" pour maintenir le ratio d'aspect de l'image */
}

.sidebar .navigation ul li {
    padding: 5%;
}

.sidebar .navigation ul li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 65%;
    display: block; /* Ajout : Transforme les liens en éléments de bloc */
    margin-bottom: 10px; /* Ajout : Espacement entre les liens */
}

.sidebar .navigation ul li a .rectangle {
    background-color: white;
    border-radius: 10px; /* Ajout : Bords arrondis */
    padding: 5px 10px; /* Ajout : Espace interne du rectangle */
}


.main-container {
    margin-left: 20%;
    margin-bottom: 10%;
}


.topbar {
    background-color: #D9D9D9;
    padding: 10px;
}

.navbar-nav .nav-link {
    color: #000;
    font-weight: bold;
    text-decoration: none;
    padding: 0.5rem 1rem;
    margin: 10px;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
    color: #F27457;
}


.form-control {
    border-radius: 20px;
}

.btn-outline-success {
    border-color: #04BF9D;
    color: #04BF9D;
}

.btn-outline-success:hover,
.btn-outline-success:focus {
    background-color: #04BF9D;
    color: #fff;
    border-color: #04BF9D;
}

.btn-link {
    color: #000;
    text-decoration: none;
    background: none;
    border: none;
    padding: 0;
}

.btn-link:hover,
.btn-link:focus {
    color: #04BF9D;
}
